@model jamescms.Models.Text
@using jamescms.Helpers;

<article id="text-@Model.Id">
    <header>
        <h1>@Html.ActionLink(Model.Title, "d", new { id = Model.UrlTitle })</h1>
    </header>
    <section>
        @MarkdownHelper.Markdown(Model.Article)
    </section>
    @if (User.IsInRole("Guides"))
    {
        @Html.AjaxButton("Edit", "text-" + Model.Id, "edit", new { id = Model.Id })
    }
    <p>@Html.ActionLink("More >>", "Index", "text")</p>
</article>


@if (ViewData["readyControl"] != null)
{
    <script type="text/javascript">
        readyControl();
    </script>
}