@model IQueryable<jamescms.Models.Text>
@using jamescms.Helpers;


<section class="page" @if (ViewData["page"] != null) { @Html.Raw("page-number='" + ViewData["page"].ToString() + "'") } else { @Html.Raw("page-number='1'") }>
@foreach (var text in Model)
{
    <article>
        <header>
            <h1>@Html.ActionLink(text.Title, "d", new { id = text.UrlTitle })</h1>
        </header>
        <section>
            @MarkdownHelper.Markdown(text.Article)
        </section>
    </article>
}
</section>