@model IQueryable<jamescms.Models.Text>
@using jamescms.Helpers;



@foreach (var text in Model)
{
    <article @if (!string.IsNullOrEmpty(ViewData["page"] as string)) { @Html.Raw("page='" + ViewData["page"].ToString() + "'") }>
        <header>
            <h1>@Html.ActionLink(text.Title, "d", new { id = text.UrlTitle })</h1>
        </header>
        <section>
            @MarkdownHelper.Markdown(text.Article)
        </section>
    </article>
}