@model List<string>
<div class="standard-form">
    <h2>File Preview Watcher</h2>
    <select name="pFiles" id="pFiles">
        <option>Select a file to view</option>
        @foreach (var file in Model)
        {
            <option value="@file">@file</option>
        }
    </select>
    <p>Status: <span id="pstatus"></span></p>
    <div id="filePreview"></div>

</div>
<script type="text/javascript">
    var psocket;
    $("#pFiles").change(function () {
        var file = $("#pFiles").val();
        if (file.length > 0 && file != "") {
            $("#filePreview").load('@Url.Action("GetFilePreview")?fileName=' + file, function () { establishpConnection(); });
        };
    });
    function establishpConnection() {
        if (psocket != null) {
            psocket.close();
        }
        psocket = new WebSocket("ws://localhost:8989/fp" + "@Html.Raw(Session.SessionID)");
        psocket.onopen = function (connection) {
            $("#pstatus").html("connected");
        };
        psocket.onerror = function (error) {
            $("#pstatus").html(error.data);
        };
        psocket.onclose = function () {
            $("#pdata").html("closed");
        };
        psocket.onmessage = function (message) {
            $("#pdata").html(message.data);
            prettyPrint();
        };
    };
</script>