@model List<string>
<div class="standard-form">
    <h2>Log Watcher</h2>
    <select name="Files" id="Files">
        <option>Select a file to view</option>
        @foreach (var file in Model)
        {
            <option value="@file">@file</option>
        }
    </select>
    <p>Status: <span id="status"></span></p>
    <div id="logData"></div>

</div>
<script type="text/javascript">
    var socket;
    $("#Files").change(function () {
        var file = $("#Files").val();
        if (file.length > 0 && file != "") {
            $("#logData").load('@Url.Action("GetLog")?logname=' + file, function () { establishConnection(); });
        };
    });
    function establishConnection() {
        if (socket != null) {
            socket.close();
        }
        socket = new WebSocket("ws://santiagodevelopment.com:8989/@Html.Raw(Session.SessionID)");
        socket.onopen = function (connection) {
            $("#status").html("connected");
        };
        socket.onerror = function (error) {
            $("#status").html(error.data);
        };
        socket.onclose = function () {
            $("#data").append("closed");
        };
        socket.onmessage = function (message) {
            $("#data").append(message.data);
            $("#filedata").prop({ scrollTop: $("#filedata").prop("scrollHeight") });
            prettyPrint();
        };
    };
</script>