<div class="standard-form">
    <div id="filedata">       
        <p id="data"></p>
    </div>
    <input type="button" value="establish" id="est" />
</div>

<script type="text/javascript">
    establish();
    $("#est").click(function () { establish(); });
    function establish() {
        var socket = new WebSocket("ws://localhost:8989/FileTail");
        socket.onopen = function (connection) {
            $("#data").append("<br/>connected<br/>");
        };
        socket.onerror = function (error) {
            $("#data").append("<br/>" + error.data + "<br/>");
        };
        socket.onclose =  function () {
            $("#data").append("<br/>closed<br/>");
        };
        socket.onmessage = function (message) {
            $("#data").append(message.data);
        };
    };
</script>