@model jamescms.Controllers.guideController.UserStats

<div class="standard-form">
    <h2>Users</h2>
    <b>Total Users</b>
    <p>@Model.TotalUsers</p>
    <b>Newest User</b>
    <p>@Model.NewestUser.UserName</p>
    <b>Roles</b>
    @foreach (var role in Model.Roles)
    {
        @Html.AjaxButton(role, "usersControl", "UsersInRole", new { role = role })        
    }    
</div>