@model String[]

<div class="standard-form">
    <table class="standard-table">
        <thead>
            <tr>
                <th>Username</th>
                @{var roles = Roles.GetAllRoles();}
                @foreach (var role in roles)
                {
                    <th>@role</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user</td>
                    @foreach (var role in roles)
                    {
                        if (Roles.IsUserInRole(user, role))
                        {
                            <td>Remove from role</td>
                        }
                        else
                        {
                            <td>Add to role</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.AjaxButton("Back", "usersControl", "UserControl")
</div>

<script type="text/javascript">
    readyControl();
</script>