@model jamescms.Controllers.guideController.UserStats

<div class="standard-form">
    <h2>Users</h2>
    <h3>Total Users</h3>
    <p>@Model.TotalUsers</p>
    <h3>Newest User</h3>
    <p>@Model.NewestUser.UserName</p>
    <h3>Roles</h3>
    @foreach (var role in Model.Roles)
    {
        @Html.AjaxButton(role, "usersControl", "UsersInRole", new { role = role })        
    }    
</div>