@{
    ViewBag.Title = "Trivia";
}
<section class="standard-form">
    <form action="javascript:void(0);">
        <div>
            <pre class="prettyprint" id="chatWindow"></pre>
        </div>

        <input type="text" id="chatInput" value="" />

        <input type="submit" id="sendChat" value="send" />

        <span>Status: </span><div id="status">connecting</div>
    </form>
</section>
@section scripts {
    <script type="text/javascript">
        var sessionId = "@Html.Raw(Session.SessionID)";
    </script>
    <script src="@Url.Content("~/Games/QuizGame/TriviaWebSocketClient.js")"></script>
}