@{
    ViewBag.Title = "Trivia";
}

<div>
    <pre class="prettyprint lang-logfile" id="chatWindow" style="white-space:pre"></pre>
</div>

<input type="text" id="chatInput" value="" />

<input type="button" id="sendChat" value="send" />

<div id="status"></div>

@section scripts {
    <script type="text/javascript">
        var sessionId = "@Html.Raw(Session.SessionID)";
    </script>
    <script src="@Url.Content("~/Games/QuizGame/TriviaWebSocketClient.js")"></script>
}