@{
    ViewBag.Title = "Home Page";
}
<aside>
    <h3>@ViewBag.Title.</h3>
    <p>@ViewBag.Message</p>
    <p>
        To learn more about ASP.NET MVC visit
        <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
        The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
        If you have any questions about ASP.NET MVC visit
        <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
    </p>
</aside>
<article>
    <header>
        <h1>We suggest the following:</h1>
    </header>
    <section>
        <ol>
            <li>
                <h4>Getting Started</h4>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and that gives you full control over markup
                for enjoyable, agile development. ASP.NET MVC includes many features that enable
                fast, TDD-friendly development for creating sophisticated applications that use
                the latest web standards.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
            </li>

            <li>
                <h4>Add NuGet packages and jump-start your coding</h4>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
            </li>

            <li>
                <h4>Find Web Hosting</h4>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
            </li>
        </ol>
    </section>
</article>