/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #cecfcb;
    background-color: #363739;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #31312f;
}

.footer-container,
.main aside {
    border-top: 20px solid #2e2f2d;
}

.header-container,
.footer-container,
.main aside {
    background: #454643;
}

.header-container h1 {
    margin: 10px 0;
}

.header-container h1 a,
.header-container h1 a:visited {
    color: #cecfcb;
    text-decoration:none;
}


a {
    color: #768fcd;
}

a:visited {
    color: #cca9e5;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #cecfcb;
    background: #2d2e27;
}

nav a:hover,
nav a:visited {
    color: #cecfcb;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#socialLoginForm {
    width: 80%;
    margin: 2%;
    background-color:#454643;
	padding:20px;
	border: 6px solid #8FB5C1;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	position:relative;
    float: left;
}


.standard-form,
#login-form {
    width: 80%;
    margin: 2%;
	background-color:#454643;
	padding:20px;
	border: 6px solid #8FB5C1;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	position:relative;
    float: left;
}

.standard-form input,
.standard-form select,
.standard-form textarea,
.standard-form label,
#login-form input, 
#login-form select, 
#login-form textarea, 
#login-form label {
	font-size:15px;
	margin-bottom:2px;
}

.standard-form input,
.standard-form select,
.standard-form textarea,
#login-form input, 
#login-form select, 
#login-form textarea {
	width:200px;
	border: 1px solid #CEE1E8;
	margin-bottom:20px;
	padding:4px;
}

.standard-form input:focus,
.standard-form select:focus,
.standard-form textarea:focus,
#login-form input:focus, 
#login-form select:focus, 
#login-form textarea:focus {
	border: 1px solid #AFCDD8;
}

.standard-form textarea,
#login-form textarea {
	height:150px;
	resize: none;
}

.standard-form label,
#login-form label {
	display:block;
}

.standard-form input[type="checkbox"],
#login-form input[type="checkbox"] {
    width: auto;
}

.standard-form .required,
#login-form .required {
	font-weight:bold;
	color:#F00;	
}

.standard-form #submit-button,
#login-form #submit-button
{
    background-color: #333;
    color: #FFF;
    border: none;
    display: block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.form-button
{
    background-color: #333;
    color: #FFF;
    border: none;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.form-button:hover,
#login-form #submit-button:hover {
	background-color: #A6CFDD;
}

.standard-form #submit-button:active,
#login-form #submit-button:active {
	position:relative;
	top:1px;
}

/*Standard table*/

.standard-table th
{
    padding: 10px 8px;
    border-bottom: 2px solid;
}

.standard-table td
{
    padding: 9px 8px 0px 8px;
}

.standard-table tbody tr:hover td
{
    color: #009;
}

.log-container
{
    background-color: #000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    height: 400px; 
    overflow: auto;
    padding: 5px;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    #login-form, #socialLoginForm, .standard-form {
        width: 90%;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #000;
           -moz-box-shadow: 0 5px 10px #000;
                box-shadow: 0 5px 10px #000;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    #login-form, #socialLoginForm {
        width: 90%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    #login-form, #socialLoginForm {
        width: 40%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {        
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}