@{
    ViewBag.Title = "Santiago Development";
}
<aside>
    <h3>Recent Posts</h3>
    @Html.AjaxReadyLoadDiv("latestTitles", "recentList", "text", null)
</aside>
<section>
    @Html.AjaxReadyLoadDiv("latestArticle", "latest", "text", null)    
</section>